body {
	background-color: #FFFFFF;
}

body, html, input {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #333333;
}

.info {
	font-style:italic;
	font-size: 0.9em;
	color: #666666;
}